@import "tailwindcss";
@plugin "daisyui";

.active{
  border-bottom: 2px solid rgb(46, 46, 243);
  outline: none;
  border-radius: 1px;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */
